<ul hx-target="#container" hx-push-url="true">
    <li>
        <h2>Go Explore</h2>
        <p>Discover Gent's Essence: Explore the city's hidden gems, iconic  landmarks, and cultural hotspots with our Explore tab.  Uncover narratives, and immerse yourself in the essence  of this enchanting city.</p>
        <button class="btn" hx-get="/explore">Explore</button>
    </li>
    <li>
        <h2>Take a walk</h2>
        <p>Explore the city's charm through our curated walking routes page. Wander  through historic streets, scenic paths, and cultural landmarks. Let  each step unveil the rich tapestry of Gent's heritage and beauty.</p>
        <button class="btn" hx-get="/walk">Go walking</button>
    </li>
    <li>
        <h2>Our events</h2>
        <p>Dive into the city's pulse with our Events page. Stay updated on the  latest happenings, from cultural festivals to art exhibitions. Discover  what's on and immerse yourself in the lively spirit of Gent.</p>
        <button class="btn" hx-get="/events">See events</button>
    </li>
    <li>
        <h2>Be up to date</h2>
        <p>Stay Informed, Stay Inspired: Explore the heartbeat of Gent through our  News page. From local stories to city updates, uncover the latest  happenings shaping our vibrant community. Stay connected, stay inspired.</p>
        <button class="btn" hx-get="/news">Discover stories</button>
    </li>
</ul>

<style>
    main ul {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    main ul li:nth-child(even) {
        align-self: flex-end;
        text-align: right;
    }

    main ul li h2 {
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
        margin-bottom: 0.938rem;
    }

    main ul li p{
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0;
        margin-bottom: 1.5rem;
        max-width: 46.25rem;
    }

</style>